<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.text_field :timestamp %>
  </div>
  <div class="field">
    <%= f.label :is_comment %><br />
    <%= f.number_field :is_comment %>
  </div>
  <div class="field">
    <%= f.label :likes_count %><br />
    <%= f.number_field :likes_count %>
  </div>
  <div class="field">
    <%= f.label :dislikes_count %><br />
    <%= f.number_field :dislikes_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
