<style type="text/css" media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

      a  {color: #03c}
      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }

      #friends {
        width: 300px;
      }
      #posts {
        width: 600px; padding-top: 30px; padding-left: 100px;
      }
      #page {
        width: 1000px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }

      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 1000px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
      }

      #sidebar {
        float: right;
        width: 175px;
      }

      #footer {
        clear: both;
      }

      #header, #about, #getting-started {
        padding-left: 75px;
        padding-right: 30px;
      }


      #header {
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
      }
      #header h1, #newsfeed h2 {margin: 0; width: 150px; padding-right: 40px; padding-left: 10px;
}
      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }

      #sidebar ul {
        margin-left: 0;
        padding-left: 0;
      }
      #sidebar ul h3 {
        margin-top: 25px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      #sidebar li {
        list-style-type: none;
      }
      #sidebar ul.links li {
        margin-bottom: 5px;
      }
      #table {
        border-collapse:collapse;
        border:1px solid blue;
      }

      .filename {
        font-style: italic;
      }
    </style>

<div id="newsfeed" style="float:left">   
  <h1>Newsfeed</h1>
  <h2><%= "Hello there #{@first_name}" %></h2>
  <h3><%= link_to 'Profile', private_profiles_path(@id) %></h3>
  <br>
  <h3>Friend Requests</h3>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% if(@requests) then %>
      <% @requests.each do |request| %>
        <tr>
        <td>User: <%= "#{request}" %> <%= form_tag posts_path , :method=> 'get' do%>

        <%= button_tag "Add Friend", :name => "#{request}" %>
    
        <% end%></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div id="posts" style="float:center">
  <%= form_tag search_result_posts_path do %>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <%= form_tag posts_path do %>
    <p>
    <%= text_area_tag :message, params[:message], size: "31x4" %>
    <%= submit_tag "Post", :name => nil %>
    </p>
  <% end %>
  
  <table id="table">
  <tr>
    <th>All recent Posts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if(@posts) then %>
<% @posts.each do |post| %>
  <tr >
    <td><%= link_to "#{post[:username]}", private_profiles_path(post[:user_id]) %></td>
    <td><%= post.content %></td>
  </tr>
<% end %>
<% end %>
</table>
</div>  
<div id="friends" style="float:right" >
  <%= form_tag posts_path , :method=> 'get' do%>
  <p>
    <%= submit_tag "Logout"%>
  </p>
  <% end%>
  <table>
  <tr>
    <th><%= link_to 'Friends', friends_profiles_path %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if(@friends) then %>
<% @friends.each do |friend| %>
  <tr>
    <td><%= "#{friend}" %></td>
  </tr>
<% end %>
<% end %>
</table>
</div>  