  <div>
          <div>
            <h1>All Friends</h1>

          <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% if(@profiles) then %>
      <% @profiles.each do |profile| %>
      <% if profile.username != session[:user].username %>
        <tr>
        <td><%= link_to "#{profile.first_name.capitalize + " " + profile.last_name.capitalize}", private_profiles_path(profile.user_id) %>
          <form style="float:right"><%= submit_tag "Unfriend", :name => profile.username, :url => profiles_path %></form>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  </div>

  <div>
  <%= form_tag search_result_posts_path do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  </div>

  <div>
          <p>
          <%= button_to 'Home', posts_path, :method => :get %> 
          </p>
          </div>
  </div>
