
  <body>
    <div id="page">
        <div id="header"> 
          <div id = "title" style="float:left">
            <h3>Private Profile!</h3>
          </div>
          <div style="float:right">
          <p>
          <%= button_to 'Home', posts_path, :method => :get %> 
          </p>
          </div>
          <div style="clear:both">
          </div>
                <p id="notice"><%= notice %></p>
                <p>
                  <b>First name:</b>
                  <%= @profile.first_name.capitalize %>
                </p>

                <p>
                  <b>Last name:</b>
                  <%= @profile.last_name.capitalize %>
                </p>

                <p>
                  <b>City:</b>
                  <% if @profile.city then%>
                  <%= @profile.city.capitalize %>
                  <% end%>
                </p>

                <p>
                  <b>Country:</b>
                  <% if @profile.country then%>
                  <%= @profile.country.capitalize %>
                  <% end%>
                </p>

                <p>
                  <b>Interests:</b>
                  <% if @profile.country then%>
                  <%= @profile.interests %>
                  <% end%>
                </p>
                <div>
                    <%= form_tag private_profiles_path(@profile.user_id), :method => :get do %>
                      <p>
                      <%= text_area_tag :message, params[:message], size: "50x1" %>
                      <%= submit_tag "Post", :name => nil %>
                      </p>
                    <% end %>
                </div>
                <div>
                <% if(session[:user][:id] == @id) then %>
               <p><%= link_to 'Edit', edit_profile_path(@profile) %> </p>
               <%end %>
                </div>
                <div>
                      <table style="width:1000px">
                      <tr>
                        <th id="posts_header">All recent Posts</th>
                        <th></th>
                        <th></th>
                      </tr>

                    <% if(@wall_posts) then %>
                        <% @wall_posts.each do |post| %>
                          <tr >
                             <td style="width:200px"><%= link_to "#{post[:username]}", private_profiles_path(post[:user_id]) %></td>
                            <td ><%= post.content %></td>
                          </tr>
                        <% end %>
                    <% end %>
                    </table>
              </div>

        </div>

      <div id="footer">&nbsp;</div>
    
  </body>




