  <body>
    <div id="page">
      <div id="content">
        <div id="header"> 
          <div id = "title" style="float:left">
            <h1>Profile</h1>
            <h2>Public Profile!</h2>
          </div>
          <div style="float:right">
          <p>
          <%= button_to 'Home', posts_path, :method => :get %> 
          </p>
          </div>
          <div style="clear:both">
          </div>
          <div>
                <p id="notice"><%= notice %></p>
                <p>
                  <b>First name:</b>
                  <%= @profile.first_name.capitalize %>
                </p>

                <p>
                  <b>Last name:</b>
                  <%= @profile.last_name.capitalize %>
                </p>

                <p>
                  <b>City:</b>
                  <% if @profile.city then %>
                  <%= @profile.city.capitalize %>
                  <%end%>
                </p>
                </div>

                <div>
                <% if @friend_status == "pending" then %>
                  Friend Request Sent
                <%else%>
                <form>
                <input type="submit" value="Add Friend" name="add">
                </form>
                <% end %>
                </div>
                </div>
      <div id="footer">&nbsp;</div>
    </div>
  </body>

